.remove-btn {
    color: #ff0000;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        animation: wobble 1s;
    }
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-inline-start: 4px;

    &:hover {
        color: #EE9322;
        animation: headShake 1s
    }

}

.details-btn {
    background: #EE9322;
    padding: 2px;
    border: 2px solid #d87b09;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    transition: background-color .4s;

    &:hover {
        background-color: #d87b09;
    }
}
