body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    all: unset;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-clr {
    color: #EE9322;
}


.card {
    background-color: rgba(192, 217, 182, 0.2);
    max-width: 60vw;
    margin: auto;
    border: 2px solid #232323;
    border-radius: 10px;
}

.positive {
    color: #00b500;
}

.negative {
    color: #e20000;
}
