header {
    background: #357de9;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
}

nav a {
    color: #FFF6F4;
    margin: .5em;
}

nav a.active {
    color: #EE9322;
    font-weight: bold;
}

.app-header h3 {
    color: #FFF6F4;
}

.user-info {

    h4 {
        color: $clr3;
        display: inline;

        span {
            color: $clr2;
        }
    }

    button {
        display: inline;
        background: $clr3;
        padding: 3px;
        border-color: $clr1;
        border-radius: 4px;
        color: $clr1;
        margin-inline-start: 5px;
        cursor: pointer;
        font-weight: 500;
    }

    button:hover {
        color: $clr2;
    }
}

@media (max-width: 768px) {

    .app-header .user-info {
        display: none;
    }
}