.toy-preview {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: calc(25% - 16px);
    display: inline-block;
    vertical-align: top;
    height: 350px;

    .toy-img {
        max-width: 200px;
        // border-radius: 8px;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

    .toy-preview-info {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform:translateX(-50%);
    }
}


.toy-preview-art>*:not(:first-child) {
    margin-block: 5px;
}
