.toy-list-container {
    grid-column: 2;
}

@media (max-width: 768px) {
    li.toy-preview {
        display: block;
        width: 90%;
        margin: 20px auto;
    }

    .toy-preview-art p{
        text-align: center;
    }
}