.user-msg {
    position: absolute;
    background-color: lightgray;
    padding: 1em;
    bottom: 1em;
    right: 1em;
    border-radius: 10px;

    button {
        float: right;
        background-color: rgba(205, 205, 205, 0.349);
        margin-inline-start: 5px;
        border-radius: 12px;
        border-color: #000;
        cursor: pointer;
    }

    &.success {
        background-color: lightgreen;
    }

    &.error {
        background-color: lightpink;
    }
}