header {
    background: #357de9;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}

nav a {
    color: #FFF6F4;
    margin: .5em;
}

nav a.active {
    color: #EE9322;
    font-weight: bold;
}

.app-header h3 {
    color: #FFF6F4;
}