.about {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about h1 {
    color: #EE9322;
}

.about p {
    color: #333;
}

.map-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 166, 0, 0.512);
    border-radius: 16px;
    padding: 1em;
}

.map-buttons {
    display: flex;
    flex-direction: column;
}

.branch-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.branch-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    max-width: 300px;
    margin-right: 20px;
    transition: transform 0.3s;
}

.branch-card:hover {
    transform: scale(1.05);
}

.branch-card img {
    max-height: 20%;
    border-radius: 8px;
}

.branch-card h2 {
    color: #333;
    margin-top: 10px;
}

.branch-card p {
    color: #777;
    font-size: 1rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    p {
        text-align: left;
    }

    .about {
        padding: 20px;
    }

    .branch-cards {
        display: block;
    }

    .map-container {
        width: 100%;
    }

    .map-buttons {
        margin-inline: 10px;
    }


}