 /* home */

 .home {
    grid-column: 2;
    text-align: center;
 }

 .home .app-info-display {
    max-width: 60%;
    margin: 20px auto;
 }

 .home .title {
    color: #232323;
    font-size: 1.5em;
 }

 .home-image {
    grid-column: 1/-1;
    max-height: 80%;
 }

 .home img {
    max-height: 43%;
    border-radius: 50px;
 }

 .about-link:hover {
    color: #EE9322;
 }

 @media (max-width: 768px) {

   .card {
      padding: .5em;
   }

   .card p {
      text-align: center;
   }
   
 }