.toy-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.toy-edit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toy-edit label {
    text-align: left;
    width: 80%;
    padding: 10px;
    font-weight: bold;
    color: #333;
}

.toy-edit input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toy-edit button {
    background-color: #357de9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toy-edit button:hover {
    background-color: #FFA600;
}

/* Responsive Design */
@media (max-width: 768px) {
    .toy-edit form {
        width: 100%;
    }
}